

.Header {
 height:60px;
 background:#FFFFFF;
 width:100vw;
 z-index: 10; 
 display:flex;
 align-items: center;
 
 border-bottom: 2px solid #000000;
}

html{
  font-family: 'helvetica_mediumregular';
}

.title{
  font-weight:400;
  font-size:45px;
  line-height:45px;
  margin-left:14px;
}

.outer-wrapper{
  width:100vw;
  height:100vh;
  overflow-y: hidden;
  overflow-x: scroll;
}

.wrapper{
    /*width:400vw;*/
}

.background{
  background:url("chasstube.jpeg") no-repeat center center;
  background-size: 400vw;
  height:100vh;
  /*width:400vw;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.subtitle {
  font-family: 'gt_sectra';
  margin-left:5px;
  font-style:italic;
}
.citation-container{
  height:520px;
  margin-left:14px;
  margin-right:15px;
  margin-top:20px;
  position:relative;
}
.citation{
  font-family: 'helvetica_mediumregular';
font-weight: 400;
font-size: 45px;
line-height: 45px;
/* or 100% */


text-transform: uppercase;

color: #000000;
}

.author{
  position:absolute;
  bottom:20px;
  font-family: 'gt_sectra';
  font-style:italic;
  font-size: 40px;
  width:100%;
  text-align:right;
}

.fondue_citation_text{
  font-family: 'helvetica_mediumregular';
  font-size:20px;
}

.fondue_citation{
  border-bottom: 1px solid #000000;
}

.fondue_citation_author{
  text-align: right;
  margin-top:45px;
  font-style:italic;
  font-family: 'gt_sectra';
  font-size:25px;

}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

.img {max-height:200px;max-width:200px}

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

.img {max-height:30%}

}

a:-webkit-any-link {
  text-decoration: none;
}

